
.content {

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
   
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    
  }
  .login{
    max-width: 464px;
    display: flex;
    flex-direction: column;
    
    padding: 0 64px;
    flex-grow: 1;
    gap: 32px;
  }
  .login__title{

  }
  .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .form .form__field{
    display: block;
    width: 100%;
    flex-grow: 1;
}
.form .form__field input{
      width: 100%;
  }
.form .form__submit{
    background-color: #3566E7;
}
.form__or{
    width: 100%;
    display: flex;
    align-items: center;
     
}
.form__or hr{
    flex-grow: 1;
    flex-shrink: 1;
}
.form__or span{
    padding: 0 8px;
}
.login__options{
    display: flex;
    gap: 8px;
}
.login__options a{
    font-weight: bold;
    color:var(--primary-color) ;
}

 .image{
    display: none;
 }
.image img{
 
}

@media (width>=728px){
    .image{
        display: block;
        overflow: hidden;
        max-width: 800.375px;
        height: 100%;
        box-shadow: -27px 0px 44.1px -13px rgba(58, 107, 235, 0.36);
     }
    .image img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;   
        /* mask-image: linear-gradient(to right, #ECF1FF 85% , transparent); */
    }
    
}