<div class="content">
    <div class="login">
        <div class="login__title">
            <h1>Bienvenido</h1>
            <span>Por favor ingrese sus datos</span>
        </div>
        <form action="#" class="form">
            <mat-form-field class="form__field" appearance="fill" color="primary">
                <mat-label>RUC</mat-label>
                <input matInput type="text" placeholder="Ingrese su RUC">
            </mat-form-field>
            <mat-form-field class="form__field" appearance="fill" >
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="Ingrese su contraseña">
            </mat-form-field>
            <button class="form__submit" mat-button mat-flat-button type="submit" color="primary" >Log in</button>
            <div class="form__or">
                <hr> <span> O </span> <hr>
            </div>
        </form>
        <div class="login__options">
            <p>¿No tienes una cuenta?</p> <a>Registrarse</a>
        </div> 
    </div>
    <div class="image">
        <img src="/assets/images/login.png" alt="login image">
    </div>
  </div>

  