<div class="content">
    <div class="login">
        <div class="login__title">
            <h1>Bienvenido</h1>
            <span>Por favor ingrese sus datos</span>
        </div>
        <form action="#" class="form" [formGroup]="loginForm" (ngSubmit)="login()" >
            <mat-form-field class="form__field" appearance="fill" color="primary">
                <mat-label>RUC</mat-label>
                <input formControlName="ruc" matInput type="text" placeholder="Ingrese su RUC">
            </mat-form-field>
            <mat-form-field class="form__field" appearance="fill" >
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" matInput type="password" placeholder="Ingrese su contraseña">
            </mat-form-field>
            <button [disabled]="status==='loading'" class="form__submit" mat-button mat-flat-button type="submit" color="primary"  >
                <span *ngIf="status!=='loading'" >Iniciar sesión</span> 
                <span *ngIf="status==='loading'" class="loader"></span>
            </button>
            <div class="form__or">
                <hr> <span> O </span> <hr>
            </div>
        </form>
        <div class="login__options">
            <p>¿No tienes una cuenta?</p> <a routerLink="/auth/register">Regístrate</a>
        </div> 
    </div>
    <div class="image">
        <img src="assets/images/login.png" alt="login image">
    </div>
 
</div>
  