
.porfolio{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.porfolio__client-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    background-color: #fff;
    
}
.porfolio__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #fff;
}
.portfolio___header-title{
    font-size: 16px;
    font-weight: 500;
}
.portfolio___header-button{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding:10px 8px;
    
}
.portfolio___header-button:hover{
    background-color: var(--primary-color-hovered);

}
.portfolio__table table{
    padding: 0 24px 24px 24px;
}
.sticky{
    position: sticky;
    top: 0;
}
@media  (width>=768px) {
    .portfolio___header-title{
        font-size: 24px;
    }
    .portfolio___header-button{
        background-color: var(--primary-color);
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding:10px 16px;
    }    
}

/*** loader **/
.error-loading, .loader-container{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    color: rgb(255, 0, 0);
}
.loader {
    width: 48px;
    height: 48px;
    border: 6px solid hsl(220, 100%, 88%);
    border-bottom-color: hsl(220, 100%, 50%);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 