
.porfolio{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.porfolio__client-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    background-color: #fff;
    
}
.porfolio__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #fff;
}
.portfolio___header-title{
    font-size: 16px;
    font-weight: 500;
}
.portfolio___header-button{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding:10px 8px;
    
}
.portfolio___header-button:hover{
    background-color: var(--primary-color-hovered);

}
.portfolio__table table{
    padding: 0 24px 24px 24px;
}
.sticky{
    position: sticky;
    top: 0;
}
@media  (width>=768px) {
    .portfolio___header-title{
        font-size: 24px;
    }
    .portfolio___header-button{
        background-color: var(--primary-color);
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding:10px 16px;
    }    
}