<div class="dialog">
    <div class="dialog__header">
        <h2>Crear Factura/Letra</h2>
        <p>Por favor ingresa tus datos en los campos requeridos</p>

    </div>
 
    <div class="dialog__content">
        <mat-tab-group class="dialog__tap-group" dynamicHeight>
                <mat-tab label="Factura"> 
                    <form action="#" class="billForm" [formGroup]="billForm" (ngSubmit)="addBill()" >
                        <mat-form-field class="billForm__field" >
                            <mat-label>Valor nominal</mat-label>
                            <input formControlName="valorNominal" matInput class="billForm__input" type="number" placeholder="Ingrese el valor nominal">
                        </mat-form-field>
                        <div class="row">
                            <!-- <mat-form-field class="portfolioForm_field" >
                                <mat-label >Tipo de tasa</mat-label>
                                <mat-select id="tipoTasa" formControlName = "tipoTasa">
                                    <mat-option value="nominal">Nominal</mat-option>
                                    <mat-option value="efectiva">Efectiva</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="portfolioForm_field" >
                                <mat-label>Periodo</mat-label>
                                <mat-select id="periodo" formControlName="periodo">
                                    <mat-option value="anual">Anual</mat-option>
                                    <mat-option value="mensual">Mensual</mat-option>
                                    <mat-option value="diario">Diario</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                        </div>
                        
                        <mat-form-field class="billForm__field" >
                                <mat-label>Fecha de emision</mat-label>
                                <input formControlName="fechaEmision" matInput [matDatepicker]="fechaEmision" placeholder="ingrese la fecha(DD/MM/AAAA)">
                                
                                <mat-datepicker-toggle matIconSuffix [for]="fechaEmision"></mat-datepicker-toggle>
                                <mat-datepicker #fechaEmision></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="billForm__field" >
                                <mat-label>Fecha de vencimiento</mat-label>
                                <input formControlName="fechaVencimiento" matInput [matDatepicker]="fechaVencimiento" placeholder="ingrese una fecha (DD/MM/AAAA)">
                               
                                <mat-datepicker-toggle matIconSuffix [for]="fechaVencimiento"></mat-datepicker-toggle>
                                <mat-datepicker #fechaVencimiento></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field  class="billForm__field" >
                            <mat-label>Cliente</mat-label>
                            <mat-select formControlName="cliente">
                                <ng-container *ngIf="clients.length > 0">
                                    <mat-option  *ngFor="let client of clients" [value]="client"> 
                                        {{ client.rol ==='persona' 
                                            ? client.nombre + " " + client.apellido + " (ruc: " + client.ruc+" )"
                                            : client.nombre_comercial + " (ruc: " + client.ruc+" ) "
                                         }}

                                    </mat-option>
                                </ng-container>
                                <mat-option *ngIf="clients.length < 0" value="" disabled>cargando... </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="billForm__actions">
                            <button class="billForm__reset" type="button" mat-dialog-close mat-button mat-flat-button >Cancelar</button>
                            <button class="billForm__submit" type="submit" mat-button mat-flat-button >Agregar</button>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="Letra">
                    <form action="#" class="billForm" [formGroup]="promissoryForm" (ngSubmit)="addPromissory()" >
                        <mat-form-field class="billForm__field" >
                            <mat-label>Valor nominal</mat-label>
                            <input formControlName="valorNominal" matInput class="billForm__input" type="number" placeholder="Ingrese el valor nominal">
                        </mat-form-field>
                        
                        <div class="row">
                            <mat-form-field class="portfolioForm_field" >
                                <mat-label >Tipo de tasa</mat-label>
                                <mat-select id="tipoTasa" formControlName = "tipoTasa">
                                    <mat-option value="nominal">Nominal</mat-option>
                                    <mat-option value="efectiva">Efectiva</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="portfolioForm_field" >
                                <mat-label>Periodo</mat-label>
                                <mat-select id="periodo" formControlName="periodo">
                                    <mat-option value="anual">Anual</mat-option>
                                    <mat-option value="mensual">Mensual</mat-option>
                                    <mat-option value="diario">Diario</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <mat-form-field class="billForm__field" >
                            <mat-label>Fecha de emision</mat-label>
                            <input formControlName="fechaEmision" matInput [matDatepicker]="fechaEmi" placeholder="seleccione una fecha">
                            
                            <mat-datepicker-toggle matIconSuffix [for]="fechaEmi"></mat-datepicker-toggle>
                            <mat-datepicker #fechaEmi></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="billForm__field" >
                            <mat-label>Fecha de vencimiento</mat-label>
                            <input formControlName="fechaVencimiento" matInput [matDatepicker]="fechaVenc" placeholder="seleccione una fecha">
                          
                            <mat-datepicker-toggle matIconSuffix [for]="fechaVenc"></mat-datepicker-toggle>
                            <mat-datepicker #fechaVenc></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="billForm__field" >
                            <mat-label>Cliente</mat-label>
                            <mat-select formControlName="cliente">
                                <ng-container *ngIf="clients.length > 0">
                                    <mat-option  *ngFor="let client of clients" [value]="client"> 
                                        {{ client.rol ==='persona' 
                                            ? client.nombre + " " + client.apellido + " (ruc: " + client.ruc+" )"
                                            : client.nombre_comercial + " (ruc: " + client.ruc+" ) "
                                         }}

                                    </mat-option>
                                </ng-container>
                                <mat-option *ngIf="clients.length <= 0" value="" disabled>cargando... </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="billForm__actions">
                            <button class="billForm__reset" type="button" mat-dialog-close mat-button mat-flat-button >Cancelar</button>
                            <button class="billForm__submit" type="submit" mat-button mat-flat-button >Agregar</button>
                        </div>
                    </form>
                </mat-tab>
        </mat-tab-group>
    </div>
    
</div>
