.dialog{
    padding: 32px 64px;
    position: relative;
    z-index: 2000;
}
.dialog__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.dialog__content{
    & .dialog__tap-group{
      padding-top: 16px; 
      
      & .billForm{
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        & .billForm__actions{
            display: flex;
            justify-content: flex-end;
            gap: 20px;

            & .billForm__reset {
                background-color: #ECF1FF;
                font-weight: 500;
                color: var(--primary-color);
                font-size: 16px;
                padding: 16px 32px;
             
                flex-grow: 1;
            }
            
            & .billForm__submit{
                background-color: var(--primary-color);
                color: #fff;
                font-weight: 500;
                font-size: 16px;
                padding: 16px 32px;
      
                flex-grow: 1;
            }
            & .billForm__submit:hover{
                background-color: var(--primary-color-hovered);
            }
        }
      } 


    }

}
