<div class="nav-container">
    <div class="nav">
        <div class="nav__logo">
            L
        </div>
        <nav class="nav__options">
            <a routerLink="/app/portfolio" routerLinkActive="active" >Cartera</a>
            <a routerLink="/app/customer"  routerLinkActive="active">Clientes</a>
            <a routerLink="/app/bank"  routerLinkActive="active">Bancos</a>
        </nav>
        <div class="nav__logout">
            <button mat-button mat-flat-button routerLink="/auth"  > Logout <mat-icon fontIcon="logout"></mat-icon>
            </button>
        </div>
    </div>
</div>
