.porfolio{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.porfolio__header{
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #fff;
    gap: 20px;

    & .top{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--primary-color);
    }
    .top:hover{
        font-weight: 500;
    }

    & .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.portfolio___header-title{
    font-size: 16px;
    font-weight: 500;
}
.portfolio__buttons{
    display: flex;
    gap: 16px;
    
    & .portfolio___button{
        background-color: var(--primary-color);
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding:10px 8px;
        
    }

    & .portfolio___button:hover{
        background-color: var(--primary-color-hovered);
    }

    & .portfolio___button-tcea{
        background-color: #ECF1FF;
        color: var(--primary-color);
        padding: 8px;
        font-size: 14px;
    }

}
.porfolio__filter{
    background-color: #fff;
    padding: 16px;
    
    & mat-form-field{
        width:25%;
    }
}
.portfolio__table{
   width: 100%;
}
.portfolio__table-container{
    overflow: auto;
}
.portfolio__table-container::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 100%); 
    border-radius: 24px;
}
.portfolio__table-container::-webkit-scrollbar {
    height: 8px; 
  }
.portfolio__table-container::-webkit-scrollbar-thumb{
    border-radius: 24px;
    background-color: hsl(0, 0%, 88%)
}
.portfolio__table table{
    padding: 0 24px 24px 24px;
    
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
}
@media  (width>=768px) {
    .portfolio___header-title{
        font-size: 24px;
    }
    .portfolio___button{
        background-color: var(--primary-color);
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding:10px 16px;
    }    
}

.table__actions{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 2px;
}

.table__actions .table__button{
    color: var(--primary-color);
    background-color: hsl(225, 100%, 96%);
    font-size: 14px;
}
.table__actions .table__button:hover{
    background-color: hsl(225, 100%, 95%); 
}
@media (width>= 728px){
    .table__actions{
        flex-direction: row;
         
    }
}