.porfolio{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.porfolio__header{
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #fff;
    gap: 20px;

    & .top{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--primary-color);
    }
    .top:hover{
        font-weight: 500;
    }

    & .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.portfolio___header-title{
    font-size: 16px;
    font-weight: 500;
}
.portfolio__buttons{
    display: flex;
    gap: 16px;
    
    & .portfolio___button{
        background-color: var(--primary-color);
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding:10px 8px;
        
    }

    & .portfolio___button:hover{
        background-color: var(--primary-color-hovered);
    }

    & .portfolio___button-tcea{
        background-color: #ECF1FF;
        color: var(--primary-color);
        padding: 8px;
        font-size: 14px;
    }

}
.portfolio__table{
   width: 100%;
}
.portfolio__table-container{
    overflow: auto;
}
.portfolio__table-container::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 100%); 
    border-radius: 24px;
}
.portfolio__table-container::-webkit-scrollbar {
    height: 8px; 
  }
.portfolio__table-container::-webkit-scrollbar-thumb{
    border-radius: 24px;
    background-color: hsl(0, 0%, 88%)
}
.portfolio__table table{
    padding: 0 24px 24px 24px;
    
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
}
@media  (width>=768px) {
    .portfolio___header-title{
        font-size: 24px;
    }
    .portfolio___button{
        background-color: var(--primary-color);
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding:10px 16px;
    }    
}

.table__actions{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 2px;
}

.table__actions .table__button{
    color: var(--primary-color);
    background-color: hsl(225, 100%, 96%);
    font-size: 14px;
}
.table__actions .table__button:hover{
    background-color: hsl(225, 100%, 95%); 
}
@media (width>= 728px){
    .table__actions{
        flex-direction: row;
         
    }
}
.text-warning{
    color: red;
    font-weight: 500;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid red;
    cursor:pointer;
}
.text-success{
    color:  rgb(0, 156, 0);
    font-weight: 500;
    padding: 8px 16px;
    background-color: hsl(120, 100%, 95%);
    border-radius: 8px;
    border: 1px solid rgb(0, 156, 0);
    cursor:not-allowed;
}
.error-loading, .loader-container{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    color: rgb(255, 0, 0);
}
.loader {
    width: 48px;
    height: 48px;
    border: 6px solid hsl(220, 100%, 88%);
    border-bottom-color: hsl(220, 100%, 50%);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 