<div class="dialog">
    <div class="dialog__header">
        <h2>Crear Portfolio</h2>
        <p>Seleccion si es persona natural o empresa y complete los datos</p>
    </div>
    <div class="dialog__content">
        <form action="#" class="portfolioForm" [formGroup]="portfolioForm" (ngSubmit)="addPortfolio()" >
            <mat-form-field class="portfolioForm_field" >
                <mat-label>Nombre de la cartera</mat-label>
                <input id="nombre" formControlName="nombre" matInput class="portfolioForm__input" type="text" placeholder="Ingrese el nombre de la cartera">
            </mat-form-field>
            <mat-form-field class="portfolioForm_field" >
                <mat-label>Moneda</mat-label>
                <mat-select id="moneda" formControlName="moneda">
                    <mat-option value="PEN">Soles(PEN)</mat-option>
                    <mat-option value="USD">Dolares(USD)</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="portfolioForm_field" >
                <mat-label >Fecha de descuento</mat-label>
                <input id="fechaDescuento"  formControlName="fechaDescuento" matInput [matDatepicker]="picker">
                <mat-hint>DD/MM/AAAA</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label >Banco</mat-label>
                <mat-select id="banco" formControlName="banco">
                    <mat-option value="BCP">BCP</mat-option>
                    <mat-option value="Interbank">Interbank</mat-option>
                    <mat-option value="Scotiabank">Scotiabank</mat-option>
                    <mat-option value="BN">Banco de la nación</mat-option>
                    <mat-option value="BBVA">BBVA</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="portfolioForm_field" >
                <mat-label >Tipo de tasa</mat-label>
                <mat-select id="tipoTasa" formControlName = "tipoTasa">
                    <mat-option value="nominal">Nominal</mat-option>
                    <mat-option value="efectiva">Efectiva</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="this.portfolioForm.value.tipoTasa==='nominal'" class="portfolioForm_field" >
                <mat-label >Capitalizacion</mat-label>
                <mat-select id="capitalizacion" formControlName = "capitalizacion">
                    <mat-option value="diaria">Diaria</mat-option>
                    <mat-option value="mensual">Mensual</mat-option>
                    <mat-option value="anual">Anual</mat-option>
                </mat-select>
            </mat-form-field>
            
            <div class="row">
                <mat-form-field class="portfolioForm_field" >
                    <mat-label>Periodo</mat-label>
                    <mat-select id="periodo" formControlName="periodo">
                        <mat-option value="anual">Anual</mat-option>
                        <mat-option value="mensual">Mensual</mat-option>
                        <mat-option value="diario">Diario</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="portfolioForm_field" >
                    <mat-label>Tasa</mat-label>
                    <input id="tasa" formControlName="tasa" matInput class="portfolioForm__input" type="number" placeholder="Ingrese la tasa 0.12">
                </mat-form-field>
            </div>
            <div class="portfolioForm__actions">
                <button class="portfolioForm__reset" type="reset" mat-button mat-flat-button mat-dialog-close >Cancelar</button>
                <button class="portfolioForm__submit" type="submit" mat-button mat-flat-button>Agregar</button>
            </div>
        </form>
    </div>
</div>
