/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color:hsl(220, 100%, 61%);
    --primary-color-hovered:hsl(220, 100%, 56%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html{
    /* font-size: 62.5%; */
}
html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto,  "Helvetica Neue", sans-serif;
    position: relative;
    width: 100vw;
    
    background-color: #ECF1FF;

}

::-webkit-scrollbar-track {
    /* background-color: hsl(0, 0%, 99%);  */
    background-color: ECF1FF; 
    border-radius: 24px;
}
::-webkit-scrollbar {
    height: 8px; 
    width: 8px;
  }
::-webkit-scrollbar-thumb{
    border-radius: 24px;
    background-color: hsl(0, 0%, 88%)
}